

/*UI*/

/*
 * Create a 3-Grid and place the UI elements upon it
*/

@dark-color: #333;
@highlight: #ddd;
@full-width: 402px;
@gutter: 10px;
@column-width: (@full-width / 6) - @gutter;
@1-column: @column-width;
@2-columns: @1-column + @column-width + @gutter;
@3-columns: @2-columns + @column-width + @gutter;
@parameter-input-width: 30px;
@buttons: #dadada;
@large-bradius: 10px;


//.fruity-stripe-generator{
.fsg{
    width: @full-width;
    
    input, button{
        display:inline-block;
        margin: 0 2px;
        padding: 0;
        border: 1px solid @dark-color;
        border-radius: 3px;
        text-align:center;
        box-shadow: 1px 1px 0 @highlight;
    }
    button{
        cursor: pointer;
        background: @buttons;
        
        &:hover{
            background: @buttons+#111;
        }
    }
    
    .parameters{
        width: @full-width;
        
        .arrange{
            float: left;
            width: @3-columns;
            margin-right: @gutter;
            
            &:last-child{margin-right:0}
        }
        
        label{
            display: block;
            float:left;
            clear:left;
            width: @1-column;
            text-align:right;
        }
        
        input{
            width: @1-column;
            float:left;
        }
        
        input.color{
            width: @2-columns;
        }
        input.param{
            width: @1-column;
        }
        
        button{
            float:left;
        }
    }
    
    hr {
        display: block;
        clear: left;
        margin: @large-bradius;
    }
    
    .preview{
        img{
            width: @full-width - 2; //-width
            height: @1-column;
            border: 1px solid @dark-color;
            display: block;
            background-color: black;
            border-radius: @large-bradius;
            margin: 10px 0;
            box-shadow: 1px 1px 0 @highlight;
        }
        .options{
            text-align: center;
        }
    }
}
